.image{
    position: relative;;
}
*{
    font-family: 'Charm', cursive;
}
.text-position{
    position: absolute;
    top: 557px;
    left: 272px;
    width: 343px;
    text-align: center;
}

h2 .text-position{

font-size: 32px;
}